# Common environment values
x-environment: &default-env
  PUID: ${PUID}
  PGID: ${PGID}
  TZ: ${TZ}

# Common keys
x-common-keys: &default-keys
  networks:
    - webproxy
  security_opt:
    - no-new-privileges:true
  restart: unless-stopped

secrets:
  do_auth_token:
    file: ${SECRETS_DIR}/do_auth_token

# Web Proxy Docker Containers
services:
  traefik:
    << : *default-keys
    image: traefik
    container_name: traefik
    command:
      # Logging
      - --log=true
      - --log.level=DEBUG
      - --accessLog=true
      - --accessLog.filePath=/traefik.log
      - --accessLog.bufferingSize=100
      #- --accessLog.filters.statusCodes=400-499
      # Docker connectivity
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=webproxy
      # Entrypoints - 80,443
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      # Enable dashboard
      - --api=true
      - --api.dashboard=true
      # Let's Encrypt certificate resolver
      - --certificatesresolvers.letsencrypt-do.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt-do.acme.dnschallenge.provider=digitalocean
      - --certificatesresolvers.letsencrypt-do.acme.dnschallenge.delaybeforecheck=0
      - --certificatesresolvers.letsencrypt-do.acme.email=${EMAIL}
      - --certificatesresolvers.letsencrypt-do.acme.storage=/letsencrypt/acme.json
    dns:
      - "192.168.9.9"
      - "192.168.9.254"
    ports:
      - "80:80"
      - "443:443"
    secrets:
      - "do_auth_token"
    environment:
      << : *default-env
      DO_AUTH_TOKEN_FILE: /run/secrets/do_auth_token
    labels:
      - traefik.enable=true
      # HTTP-to-HTTPS Redirect
      - traefik.http.routers.http-catchall.rule=hostregexp(`{host:.+}`)
      - traefik.http.routers.http-catchall.entrypoints=web
      - traefik.http.routers.http-catchall.middlewares=redirect-to-https
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      # Traefik Dashboard
      - traefik.http.routers.traefik-secure.rule=Host(`traefik.${DOMAINNAME}`)
      - traefik.http.routers.traefik-secure.entrypoints=websecure
      - traefik.http.routers.traefik-secure.tls=true
      - traefik.http.routers.traefik-secure.tls.certresolver=letsencrypt-do
      ## Services - API
      - traefik.http.routers.traefik-secure.service=api@internal
      - traefik.http.routers.traefik-secure.middlewares=traefik-auth
      - traefik.http.middlewares.traefik-auth.basicauth.users=${BASIC_AUTH}
    volumes:
      - ./traefik/traefik.log:/traefik.log 
      - ./letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${TZ_VOL}

  whoami:
    << : *default-keys
    image: traefik/whoami
    container_name: whoami
    labels:
      - traefik.enable=true
      - traefik.http.routers.whoami.rule=Host(`whoami.${DOMAINNAME}`)
      - traefik.http.routers.whoami.entrypoints=websecure
      - traefik.http.routers.whoami.tls=true
      - traefik.http.routers.whoami.tls.certresolver=letsencrypt-do

  web:
    << : *default-keys
    image: nginx
    container_name: web
    labels:
      - traefik.enable=true
      - traefik.http.routers.web.rule=Host(`web.${DOMAINNAME}`)
      - traefik.http.routers.web.entrypoints=websecure
      - traefik.http.routers.web.tls=true
      - traefik.http.routers.web.tls.certresolver=letsencrypt-do


networks:
  webproxy:
    external: true

