services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    networks:
      - web-proxy
    volumes:
      - ./config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock # (optional) For docker integrations, see alternative methods
    environment:
      PUID: $PUID
      PGID: $PGID
    labels:
      - traefik.enable=true
      ## HTTPS Routers
      - traefik.http.routers.home.rule=Host(`home.${DOMAINNAME}`)
      - traefik.http.routers.home.entrypoints=websecure
      - traefik.http.routers.home.tls=true
      - traefik.http.routers.home.tls.certresolver=letsencrypt-do
      - traefik.http.routers.home.service=home-svc
      - traefik.http.services.home-svc.loadbalancer.server.port=3000


networks:
  web-proxy:
    external: true
