version: '3.1'

# Common environment values
x-environment: &default-env
  TZ: $TZ
  PUID: $PUID
  PGID: $PGID

# Common keys
x-common-keys: &default-keys
  security_opt:
    - no-new-privileges:true
  restart: unless-stopped

secrets:
  db_root_password:
    file: $SECRETS_DIR/digikam_db_root
  db_user_password:
    file: $SECRETS_DIR/digikam_db_user

services:
  db:
    << : *default-keys
    image: mariadb:11
    ports:
      - 3306:3306
    environment:
      << : *default-env
      MYSQL_ROOT_PASSWORD: /run/secrets/db_root_password
      MYSQL_DATABASE: digikam
      MYSQL_USER: dk_user
      MYSQL_PASSWORD: /run/secrets/db_user_password
    secrets:
      - db_root_password
      - db_user_password
    volumes:
      - ./mariadb.conf.d:/etc/mysql/mariadb.conf.d
      - ./db:/var/lib/mysql

  adminer:
    << : *default-keys
    image: adminer
    ports:
      - 8080:8080
    environment:
      << : *default-env

